<h1>Orders#index</h1>
<%= link_to products_index_path do %>
<div class='ui button mini allItems'>
  All Items
</div>
<% end %>


<% @orders.each do |order| %>
<div class='ui segment allOrders'>
<%= link_to order_path(order), class: 'orderId', id: order.id do %> 
  Order id: <%= order.id %><br>
  <% end %>
  Order quantity: <%= order.quantity %><br>
  Product id: <%= order.product_id %><br>
  pid: <%= order.product_id %><br>
  Product: <%= order.my_product(order.product_id) %><br>
  Quantity: <%= order.quantity %><br>
</div>
<% end %>
