<div class='initial_header'>
<div class='ui icon button mini yoshi'>
	<%= semantic_icon('cloud') %>
</div>
  <div class='logo'>ItemShoppe</div>

  <div class='smedia logo'><%= semantic_icon('facebook basic') %></div>
  <div class='smedia logo'><%= semantic_icon('twitter basic') %></div>
  <div class='smedia logo'>
    <% if current_user %> <%= current_user.email %>
    <% end %>
  </div>


<div class="ui red vertical demo sidebar menu">
  <div class="item">
    <%= semantic_icon('cloud') %>
    <%= link_to("Log In", root_url) %>
  </div>
  <div class="item">
    <%= semantic_icon('table') %>
    <%= link_to("Order List", order_lists_index_path) %>
  </div>
</div>
</div>
<script>
$(document).ready(function(){
  $(".ui.icon.button").on('click', function(){
  $('.demo.sidebar').sidebar('toggle');
})
});

</script>