<br><br>
<div class='ui segment thin'>
	<% if !current_user %>
	 <%= link_to new_user_session_path do %>
	   <%= semantic_icon('key') %> Login
    <% end %>
	<% else %>
    <%= link_to products_index_path do %>
      <div class='ui button blue' id='barcode'>
        <%= semantic_icon('barcode') %>
      </div>
    <% end %>
    <%= link_to locations_index_path do %>
      <div class='ui button blue' id='flag'>  
        <%= semantic_icon('flag') %>
      </div> 
    <% end %>
    <%= link_to pos_path do %>
      <div class='ui button blue' id='cart'>
        <%= semantic_icon('shopping cart') %>
      </div>
    <% end %> 
  <% end %>

</div>
</div>