<% @products.each do |product| %>
<div class='ui segment product_instance'>
  <%= link_to product_path(product) do %>
  <div data-id="<%= product.id %>" class='orderUp ui teal button mini' title='Add 1 unit to wish list'>
   <%= semantic_icon('text file') %>
 </div>
 <% end %>
 <%= product.name %> : 
 <%= product.classification %>
<div class='ui vertical divider'></div>
<div class='lesser_details'>
  ID number: <%= product.id %>
</div>
</div>
<% end %>