<h1 class='title'>Products#new</h1>
<div class='ui segment'>
<div class='ui form'>
<%= form_for @product, url: products_create_path do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= f.label :classification %>:
  <%= f.text_field :classification %><br />
  <%= f.label :stocknum %>:
  <%= f.text_field :stocknum %><br />
  <%= f.submit class: 'ui green mini button' %>
  <% end %>
  </div>
  </div>