<h1>Products#show</h1>
<div class='ui segment'> 
<%= @product.id %> | <%= @product.name %>
<%= form_for :order do |f| %>
  Item: <%= f.text_field :product_id, :placeholder => @product.id %><br>
  Quantity: <%= f.text_field :quantity %><br>
  <%= f.submit %>
<% end %>
</div>



