<h1 class='title'>Locations#index</h1>
<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search near", :name => nil %>
  </p>
<% end %>
<%= link_to new_location_path do %>
<div class='ui mini button teal'>
	<%= semantic_icon(:building) %>
  New
</div>
<% end %>
<div class='ui segment'>
<% @locations.each do |location| %>
	<div class='ui mini button blue'>
  <%= link_to location_path(location) do %>
  <%= semantic_icon(:briefcase) %>Details
  </div>
  <% end %>
  <div class='location' id='<%= location.id %>'><%= location.address %></div><br><br>
<% end %>
</div>